.hotel-detail-container {
  width: 100%;
  text-align: center;
  font-family: "Pretendard-Regular";

  .hotel-detail-contens {
    width: 70%;
    margin: 0 auto;

    .hotel-detail-top {
      margin: 5% 10%;
      background-color: white;

      .detail-event {
        margin-bottom: 20px;

        .detail-e-border {
          color: #63a1ff;
          border: 0.5px solid #f4f9ff;
          background-color: #e8f0ef;
          border-radius: 5px;
        }
      }

      img {
        width: 30%;
        height: 335px;
        margin-right: 50px;
        border-radius: 16px;
        float: left;
      }

      h1 {
        font-size: 2.4rem;
        font-weight: 900;
        line-height: 1.4;
      }
      .span-style {
        margin-top: 20px;
        margin-bottom: 20px;
        font-weight: 900;
        font-size: 15px;
      }

      .hotel-detail-info {
        text-align: left;
        border-bottom: 1px solid gainsboro;
        padding-bottom: 6%;

        .hotel-tag-item {
          height: 40px;
          margin-top: 20px;
          margin-right: 5px;
          padding: 0 20px;
          line-height: 1.4;
          color: gray;
          font-family: "Pretendard-Regular";
          font-size: 1rem;
          font-weight: 600;
          display: inline-block;
          border-radius: 55px;
          border: 1px solid #eaeaea;
          background: #fff;
          cursor: pointer;
        }

        .detail-bottom {
          margin-top: 20px;
          font-weight: 600;

          p {
            line-height: 1.4;
            color: #606060;
            font-weight: 600;
            font-size: 1.2rem;

            .hotel-location {
              display: inline;
              margin-right: 3%;
            }

            .hotel-address {
              display: inline;

              .after::after {
                content: "";
                display: inline-block;
                margin: 0 25px;
                width: 1px;
                height: 17px;
                background: gray;
                vertical-align: middle;
              }
            }
          }

          .review-content {
            margin-top: 3px;
            line-height: 1.4;
            color: #606060;
            font-weight: 600;
            font-size: 1.2rem;

            .hotel-review {
              margin-right: 3%;
            }

            .review-star::before {
              content: "";
              display: inline-block;
              width: 20px;
              height: 20px;
              margin: 0 0 -3px 0;
              background: url("https://static-www.jejupass.com/resource/PC/images/food/ico_starx18.png")
                no-repeat;
            }
          }

          .bookmark,
          .share {
            width: 27px;
            height: 27px;
          }
        }
      }
    }

    .hotel-detail-wrapper {
      margin: 5% 10%;
      padding: 2.5%;
      border: 1px solid gainsboro;
      border-radius: 16px;
      background-color: white;

      .hotel-btn-wrapper {
        border: none;

        .hotel-tabs-btn {
          border: none;
          background-color: inherit;
          width: 20%;
          border-bottom: 1px solid gainsboro;
          padding-bottom: 2.5%;
          margin-bottom: 5%;
          color: gray;
          font-family: "Pretendard-Regular";
          font-weight: 900;
          font-size: 1.2rem;
          cursor: pointer;

          &:focus {
            border-bottom: 3px solid black;
            color: #404040;
          }
        }
      }
    }

    .slider {
      margin: 3.5%;
    }
  }
}

.total-like::before {
  content: "";
  display: inline-block;
  width: 18px;
  height: 18px;
  margin: 0 0 -3px 0;
  background: url("https://static-www.jejupass.com/resource/PC/images/food/ico_like-on.png")
    no-repeat;
}
