.sfb-wrap {
  .dep2 {
    font-weight: bold;

    .right-icon-off,
    .right-icon-on {
      width: var(--icon-size-small);
      height: var(--icon-size-small);
    }

    .right-icon-off {
      background-image: url("../../../assets/images/arow-down-icon.png");
    }
    .right-icon-on {
      background-image: url("../../../assets/images/arow-up-icon.png");
    }
  }

  .dep3 {
    font-size: var(--font-size-product-content);
    font-weight: 500;
    color: gray;
    margin: 15px 0;
    cursor: default;
    border-top: 1px dashed gray;

    .check-filter {
      display: flex;
      padding: 20px 0;

      input {
        width: var(--icon-size-small);
        margin-left: auto;
        cursor: pointer;
      }
    }

    .slide-filter {
      display: flex;
      flex-direction: column;
      padding: 30px 0;

      div {
        margin-top: 30px;
      }

      .text-wrap {
        display: flex;
        justify-content: space-between;

        span {
          font-size: var(--font-size-product-small);
          padding: 0 10px;
        }
      }

      .slider {
        display: flex;
        justify-content: center;
        font-size: var(--font-size-product-small);
      }

      .range {
        display: flex;
        justify-content: center;

        span {
          display: flex;
          align-items: center;
          color: rgb(96, 96, 96);
          justify-content: center;
          margin: 0 5px;
        }

        .min,
        .max {
          width: 180px;
          font-size: var(--font-size-product-small);
          border: 1px solid var(--color-gray);
          border-radius: 14px;
          padding: 10px 20px;
        }
      }
    }
  }
}
