.restaurant-container {
  display: flex;
  padding: 3% 12.5% 7.5% 12.5%;
  background-color: #f8f8f8;

  .restaurant-main-content {
    width: 100%;
    margin-left: 2.5%;

    .restaurant-list-wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 2.5%;
      border-radius: 16px;
      background-color: white;
      padding: 0 4%;
    }
  }

  .sfb-wrap {
    .dep3 {
      border-top: none;
    }
  }
}
