.restaurant-detail-wrapper {
  margin: 5% 10%;
  padding: 2.5%;
  border: 1px solid gainsboro;
  border-radius: 16px;
  background-color: white;

  .restaurant-button-wrapper {
    display: flex;
    justify-content: space-between;
    border: none;

    button {
      border: none;
      background-color: inherit;
      width: 33.3%;
      border-bottom: 1px solid gainsboro;
      padding-bottom: 2.5%;
      margin-bottom: 5%;
      color: gray;
      font-weight: 700;
      font-size: large;

      &:focus {
        border-bottom: 2px solid black;
        color: #404040;
      }
    }
  }
}

.restaurant-detail-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
  padding: 5% 10%;
  background-color: white;

  img {
    width: 100%;
    border-radius: 16px;
  }

  h1 {
    font-size: 2.4rem;
    font-weight: 900;
    line-height: 1.4;
  }

  span {
    line-height: 1.4;
    font-weight: 700;
  }

  p {
    line-height: 1.4;
    color: #606060;
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: 2.5%;

    span {
      color: black;
      margin-left: 10%;
    }

    &:last-child {
      border-bottom: 1px solid gainsboro;
      padding-bottom: 5%;
    }
  }

  .detail-info {
    padding-top: 10%;
  }
}
