.mypage-myplan-wrap {
  .content-on {
    color: var(--color-bright-blue);
  }
  .content-off {
    color: gray;
  }
  .content-on,
  .content-off {
    li {
      font-size: var(--font-size-middle);
      font-weight: bold;
      list-style: disc;
      margin-top: 30px;
      margin-left: 20px;

      .plan-type {
        display: flex;
        justify-content: space-between;

        a {
          color: gray;
        }
      }

      .plan-detail,
      .noplan-detail {
        justify-content: center;
        width: 100%;
        border-radius: 10px;
        margin-top: 20px;
        cursor: pointer;
      }

      .noplan-detail {
        border: 1px dashed gray;
        height: 200px;
        border-radius: 10px;
        padding: 20px;
      }
    }
  }
}
