.mypage-myplan-wrap {
  .content {
    li {
      font-size: var(--font-size-middle);
      font-weight: bold;
      color: var(--color-bright-blue);
      list-style: disc;
      margin-top: 30px;
      margin-left: 20px;

      .plan-type {
        display: flex;
        justify-content: space-between;

        a {
          color: gray;
        }
      }

      .plan-detail-wrap {
        display: flex;
        justify-content: center;
        height: 200px;
        border: 1px dashed gray;
        padding: 20px;
        margin-top: 20px;

        .plan-detail {
          cursor: pointer;

          .plus-btn {
            display: flex;
            justify-content: center;
            margin-top: 20px;
          }

          .text-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 10px;
            p {
              color: gray;
              margin-top: 10px;
            }

            span {
              color: var(--color-bright-blue);
            }
          }
        }
      }
    }
  }
}
