.todo {
  border: 1px solid black;
}

:root {
  --border-color: #abccff;
  --color-white-blue: #f4f9ff;
  --color-blue: #63a1ff;
  --color-soft-blue: #85b5ff;
  --color-bright-blue: #569aff;
  --color-white-gray: #f8f8f8;
  --color-gray: #aeaeae;
  --color-white-opacity07: rgba(255, 255, 255, 0.7);
  --color-background: rgb(245, 245, 245);

  --font-size-small: 15px;
  --font-size-middle: 18px;
  --font-size-big: 23px;
  --font-size-tag: 25px;
}
