.todo {
  border: 1px solid black;
}

:root {
  --border-color: #abccff;
  --color-white-blue: #f4f9ff;
  --color-blue: #63a1ff;
  --color-soft-blue: #85b5ff;
  --color-bright-blue: #569aff;
  --color-white-gray: #f8f8f8;
  --color-gray: #aeaeae;
  --color-white-opacity07: rgba(255, 255, 255, 0.7);
  --color-background: rgb(245, 245, 245);

  --font-size-small: 15px;
  --font-size-middle: 18px;
  --font-size-big: 23px;
  --font-size-tag: 14px;
  --font-size-product-title: 19px;
  --font-size-product-content: 17px;
  --font-size-product-small: 16px;
  --font-size-slide-small: 14px;

  --icon-size-big: 18px;
  --icon-size-small: 14px;
  --icon-check-box: 14px;
}

.content-wrapper {
  margin: 7.5%;

  .title {
    text-align: center;
    margin-bottom: 2.5%;
    font-size: 2rem;
    font-weight: 700;
  }

  svg {
    vertical-align: bottom;
  }
}

.swiper {
  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      display: flex;
    }
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: none;
    top: 35%;
    padding: 0 0.25%;
    background: rgba(0, 0, 0, 0.4);
    color: white;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    font-size: large;
  }

  .swiper-pagination {
    position: relative;
    margin-top: 2.5%;
  }

  .swiper-pagination-bullet-active {
    width: 30px;
    border-radius: 5px;
    background: #333;
    border: 1px solid transparent;
  }
}

.product-bar {
  padding: 10px 30px;
  border-radius: 20px;
  background-color: #fff;
  margin-bottom: 14px;

  .title {
    display: flex;
    align-items: center;
    height: 42px;
    min-width: fit-content; // 글씨 줄바꿈 방지
    font-size: var(--font-size-product-title);
    font-weight: bold;
    margin-right: 50px;
  }

  .dep1 {
    display: flex;
    cursor: pointer;

    .right-icon-off,
    .right-icon-on {
      width: var(--icon-size-big);
      height: var(--icon-size-big);
    }
  }

  .right-icon-off,
  .right-icon-on {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    background-size: cover;
  }

  .dep2 {
    margin-top: 14px;

    .list {
      display: flex;
      cursor: pointer;

      span {
        display: flex;
        font-size: var(--font-size-product-content);
        padding: 18px 0px;
      }
    }
  }
}
