.sob-wrap {
  .dep2 {
    li {
      span {
        font-size: var(--font-size-product-content);
      }

      .right-icon-off,
      .right-icon-on {
        width: var(--icon-check-box);
        height: var(--icon-check-box);
      }

      .right-icon-off {
        background-image: url("../../../assets/images/check-circle-off-icon.png");
      }

      .right-icon-on {
        background-image: url("../../../assets/images/check-circle-on-icon.png");
      }
    }
  }
}
