@font-face {
  font-family: "NanumSquareRound";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

.hotel-container {
  width: 80%;
  margin: 0 auto;
  padding: 80px 0px;
  font-family: "NanumSquareRound";

  .hotel-contens {
    .hotel-theme-search {
      position: relative;
      height: 350px;
      margin: 100px 0 104px;
      padding: 80px 0 0 0;
      text-align: center;
      background: #f8f7f6
        url(https://static-www.jejupass.com/resource/PC/images/stay/bg_stayMain.png)
        no-repeat 50% 0;
    }
    .hotel-theme-search-title {
      text-align: center;
      margin-bottom: 2.5%;
      font-size: 2rem;
      font-weight: 700;
    }

    .theme-tag-item {
      height: 56px;
      margin: 8px;
      padding: 0 20px;
      color: gray;
      font-family: "NanumSquareRound";
      font-size: 1rem;
      font-weight: 600;
      line-height: 54px;
      display: inline-block;
      border-radius: 56px;
      border: 1px solid #eaeaea;
      background: #fff;
      cursor: pointer;
    }
  }
}
