body {
  background-color: white;
}

.mypage-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 80px 0px;

  width: 80%;
  min-width: 1400px; //최소 너비 지정
  max-width: 1800px; //최대 너비 지정
  margin: 0 auto;

  background-color: #fff;

  .mypage-content {
    width: 80%;
  }
}

.mypage-content-title {
  font-size: var(--font-size-big);
  font-weight: bold;
  margin-top: 60px;
}
