.mypage-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  padding: 80px 0px;

  width: 80%;
  min-width: 1000px;
  max-width: 1800px;
  margin: 0 auto;

  .mypage-content {
    width: 80%;
  }
}

.mypage-content-title {
  font-size: var(--font-size-product-title);
  font-weight: bold;
  margin-top: 60px;
}
