.rentcar-container {
  padding: 80px 0px;
  background-color: var(--color-background);
}

.rentcar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  min-width: 1000px;
  max-width: 1800px;
  margin: 0 auto;

  .rentcar-main-content {
    display: flex;

    .rentcar-list-wrap {
      width: 75%;
      margin-left: 14px;
    }
  }
}
