.rentcar-container {
  min-width: 1600px; //최소 너비 지정
  padding: 80px 0px;
  background-color: var(--color-background);
}

.rentcar-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;

  min-width: 1600px; //최소 너비 지정
  max-width: 1800px; //최대 너비 지정
  margin: 0 auto;

  .rentcar-main-content {
    display: flex;

    .rentcar-list {
      width: 75%;
    }
  }
}
