.mypage-point-wrap {
  font-weight: bold;
  padding: 24px 32px 32px 32px;
  margin-top: 20px;
  border-radius: 12px;
  background-color: var(--color-blue);

  span {
    color: var(--color-white-opacity07);
  }

  a {
    color: white;
    margin-left: 20px;
  }

  .point-list {
    display: flex;
    justify-content: space-evenly;
    font-size: var(--font-size-big);
  }

  .ticket-list {
    display: flex;
    width: 100%;
    font-size: var(--font-size-middle);
    background-color: var(--color-soft-blue);
    padding: 20px 15px;
    margin-top: 32px;
    border-radius: 8px;

    p {
      display: flex;
      width: 50%;
      padding: 0 20px;
      justify-content: space-between;
    }

    a {
      text-decoration-line: underline;
    }
  }
}
