.rentcar-detail-rule-wrap {
  padding: 0 1%;
  line-height: 20px;

  div {
    border-radius: 14px;
    margin-bottom: 30px;
    p {
      margin-bottom: 10px;
    }
  }

  .detail-title {
    font-size: var(--font-size-product-title);
    font-weight: bold;
    padding: 20px 00px;
  }

  .red-box {
    text-align: center;
    background-color: rgb(255, 231, 231);
    padding: 20px 30px;
  }

  .whtie-box {
    border: 1px solid rgb(192, 192, 192);

    p {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      color: rgb(94, 94, 94);
      padding: 13px 0;
      margin-bottom: 0;
    }

    ul {
      background-color: var(--color-white-gray);
      border-radius: 14px;
      padding: 20px;
      font-weight: bold;

      li {
        color: gray;
        font-weight: 500;
        margin-top: 10px;
        list-style: circle;
        margin-left: 20px;
      }
    }
  }
}
