.lodge-wrapper {
  border: 1px solid gainsboro;
  border-radius: 30px;

  img {
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  p {
    padding: 0 5%;
  }

  p:first-child {
    font-size: 1.4rem;
    font-weight: 700;
  }

  p:nth-child(n + 2) {
    font-size: 1.1rem;
    color: #606060;
  }

  p:last-child {
    padding-bottom: 5%;
  }
}
