.mypage-profile-wrap {
  display: flex;
  align-items: center;
  font-weight: bold;

  --profile-size: 80px;
  --font-size-profile: 25px;
  --font-size-profile-larger: 27px;

  .profile-img {
    width: var(--profile-size);
    height: var(--profile-size);
    background-color: gray;
    border-radius: var(--profile-size);
  }

  .profile-info {
    font-size: var(--font-size-profile);
    margin-left: 20px;

    span {
      font-size: var(--font-size-profile-larger);
      margin: 0px 5px;
      line-height: 35px;
    }
    .grade {
      color: var(--color-blue);
      cursor: pointer;
    }
  }

  .profile-btn {
    margin-left: auto;

    button {
      width: 120px;
      height: 40px;
      font-size: var(--font-size-small);
      font-weight: bold;
      background-color: #fff;
      border: 2px solid rgb(218, 218, 218);
      border-radius: 10px;
      margin-right: 10px;
      cursor: pointer;
    }
  }
}
