.stars-wrap {
  display: flex;
  margin-bottom: 10px;
  .star-box,
  .star-box-4 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 20%;
  }

  .star-box-4 {
    padding: 0 10px;
  }

  .star {
    width: 12px;
    height: 12px;
    background-image: url("../../../../../assets/images/star-icon.png");
    background-size: cover;
  }
}
