.rentcar-sfb-wrap {
  width: 25%;
  margin-top: 20px;
  min-width: 430px;

  --icon-size-big: 24px;
  --icon-size-small: 20px;
  --icon-check-box: 32px;

  .sob-dep1 {
    display: flex;
    cursor: pointer;

    .right-icon-off,
    .right-icon-on {
      width: var(--icon-size-big);
      height: var(--icon-size-big);
    }

    .right-icon-off {
      background-image: url("../../assets/images/arow-down-icon.png");
    }

    .right-icon-on {
      background-image: url("../../assets/images/arow-up-icon.png");
    }
  }

  .right-icon-off,
  .right-icon-on {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    background-image: url("../../assets/images/arow-down-icon.png");
    background-size: cover;
  }

  .sob-dep2 {
    margin-top: 40px;

    li {
      display: flex;
      cursor: pointer;

      span {
        display: flex;
        font-size: var(--font-size-product-content);
        padding: 20px 0px;
      }

      .right-icon-off,
      .right-icon-on {
        width: var(--icon-check-box);
        height: var(--icon-check-box);
      }

      .right-icon-off {
        background-image: url("../../assets/images/check-circle-off-icon.png");
      }

      .right-icon-on {
        background-image: url("../../assets/images/check-circle-on-icon.png");
      }
    }
  }
}
