.alert-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;

  .alert-modal-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    border-radius: 5px;

    background-color: #fff;

    .main-title {
      text-align: center;
      font-size: 14px;
      font-weight: bold;
      padding: 10px 20px;
      border-bottom: 2px solid var(--color-soft-bright-blue);
    }

    .title {
      display: flex;
      justify-content: space-between;
      font-size: 11px;
      font-weight: bold;
      padding: 10px 20px;
      color: gray;
      border-bottom: 2px solid var(--color-soft-bright-blue);

      span,
      .focus {
        padding: 5px 0;
        cursor: pointer;
      }
      .focus {
        font-size: larger;
        color: black;
        border-bottom: 1px solid var(--color-soft-bright-blue);
      }
    }

    img {
      padding: 10px 10px;
      width: 100%;
    }
    .close-btn {
      position: absolute;
      left: 97%;
      top: -1.5%;
      text-align: center;
      line-height: 1;
      width: 20px;
      height: 20px;
      color: white;
      background-color: var(--color-bright-blue);
      border-radius: 20px;
      cursor: pointer;
    }

    .btn {
      width: 70%;
      font-size: 15px;
      font-weight: bold;
      padding: 5px 30px;
      margin: 20px auto;

      border: 0;
      border-radius: 5px;
      cursor: pointer;
      color: #fff;
      background-color: var(--color-bright-blue);
    }
  }

  .alert-message {
    text-align: center;
    font-size: 15px;
    padding: 20px;
  }
}
