.mypage-snb-wrap {
  --font-size-title: 20px;

  width: 20%;
  margin-right: 5%;
}

.mypage-snb-title {
  font-size: var(--font-size-title);
  font-weight: bold;
  padding: 0 24px;
  cursor: pointer;
}

.mypage-snb-list {
  margin-top: 10px;

  .mypage-snb-list-dep1 {
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-product-content);
    font-weight: bold;
    text-indent: 25px; // 들여쓰기

    .snb-off,
    .snb-on {
      border-radius: 10px;
      padding-top: 18px;
      padding-bottom: 10px;
      margin-top: 16px;
      transition: height 0.35s linear;
      overflow: hidden;
      cursor: pointer;
    }
    .snb-off {
      background-color: var(--color-white-gray);
      border: 1px solid #fff;
      height: 55px;
    }

    .snb-on {
      color: var(--color-bright-blue);
      background-color: #fff;
      border: 1px solid var(--color-bright-blue);
    }
  }

  .mypage-snb-list-dep2 {
    cursor: auto;
    margin-top: 20px;

    .subtitle {
      align-items: center;
      height: 45px;
      color: black;
      display: flex;
      font-size: var(--font-size-product-small);
      font-weight: bold;
    }

    .subtitle:hover {
      color: var(--color-bright-blue);
      background-color: var(--color-white-gray);
    }
  }
}
