.car-img-content-wrap {
  .content-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    .car-name {
      width: 20%;
      margin-right: 0;
    }

    .car-img {
      width: 25%;
      height: 150px;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 50px;
    }

    .car-detail-info {
      display: flex;
      align-items: center;

      .icon {
        width: var(--font-size-product-small);
        height: var(--font-size-product-small);
        background-size: cover;
      }

      .people-icon {
        background-image: url("../../../../../assets/images/people-icon.png");
      }
      .oil-icon {
        background-image: url("../../../../../assets/images/oil-icon.png");
      }
      .calendar-icon {
        width: var(--icon-size-small);
        height: var(--icon-size-small);
        background-image: url("../../../../../assets/images/calendar-icon.png");
        margin-left: 5px;
      }

      span {
        color: gray;
        font-size: var(--font-size-product-small);
        margin: 0px 5px;
      }
    }
  }
  .rentcar-detail-p-tag {
    color: rgb(149, 149, 149);
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
  }
}
