.rentcar-list {
  .tag-list-wrap {
    display: flex;
    flex-wrap: wrap;

    .tag {
      text-align: center;
      width: 13%;
      min-width: 90px;
      color: var(--color-bright-blue);
      font-size: var(--font-size-tag);
      font-weight: bold;
      padding: 5px 15px;
      border: 1px solid var(--color-bright-blue);
      border-radius: 15px;
      margin: 5px;
    }
  }
}
