.rentcar-list {
  .tag-list-wrap {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2.5%;

    .tag-on,
    .tag-off {
      text-align: center;
      width: 13%;
      min-width: 100px;
      font-size: var(--font-size-tag);
      font-weight: bold;
      padding: 8px 15px;
      border-radius: 15px;
      margin: 4px;
    }

    .tag-on {
      color: var(--color-bright-blue);
      border: 1px solid var(--color-bright-blue);
    }

    .tag-off {
      border: 0;
      color: gray;
      background-color: var(--color-white-gray);
    }
  }
}
