.rentcar-list {
  .rentcar-card-wrap {
    padding: 20px 30px;
    margin-bottom: 14px;

    .car-img-content-wrap {
      padding: 30px;
    }

    .tag-list-wrap {
      margin-left: 2.5%;
    }

    .company-list-wrap {
      margin-top: 20px;
    }
  }
}
